	/* General styles */
	body {
		background: #e9e9e9;
		font-family: 'Open Sans', sans-serif;
	}
	.main-wrapper {
		width: 100%;
	}
	.main-wrapper-shadow {
		background: transparent url(../img/bg-shadow.jpg) repeat-y center top;
	}
	.main-wrapper-red {
		background: transparent url(../img/menu.png) no-repeat center top;
		height: 72px;
	}
	.main-wrapper-blue {
		background: transparent url(../img/slider-menu.png) no-repeat center top;
		padding-bottom: 36px;
	}	
	.main-wrapper-red .content-wrapper-full {
		background: transparent url(../img/menu-red.jpg) repeat-x center top;
	}
	.content-wrapper {
		padding: 0;
		margin: 0 auto;
		width: 1180px;
	}
	.content-wrapper.main {
		padding: 50px 0px;
	}
	.content-wrapper-full {
		padding: 0;
		margin: 0 auto;
		width: 1262px;
	}	
	.spacer {
		clear: both;
		width: 100%;
		height: 0;
		display: block;
	}
	
	/* Header styles */
	header {
		height: 115px;
	}
	header .logo {
		width: 201px;
		height: 76px;
		float: left;
		margin: 16px 0px 0px 0px;
	}
	header .logo a {
		display: inline-block;
		width: 100%;
		height: 100%;
		background: transparent url(../img/logo.jpg) no-repeat 0px 0px;
		text-indent: -9999px;
	}
	header .yam-controls-area {
		float: left;
		width: 226px;
		margin: 26px 0px 0px 89px;
	}
	header .social {
		width: 100%;
		clear: both;
		height: 21px;
	}
	header .social a {
		display: block;
		float: left;
		margin-right: 12px;
		font-size: 12px;
	}
	header .yam-langselect-area {
		margin-top: 20px;
	}
	header .yam-langselect-area a {
		display: block;
		float: left;
		margin-right: 12px;
		font-size: 12px;
		color: #676767;
	}
	header .yam-langselect-area a.active,
	header .yam-langselect-area a:hover{

	}
	.yam-share-icon-facebook  {
		background: url(../img/social-fb.jpg) no-repeat 0px 0px;
		width: 21px;
		height: 21px;
	}
	.yam-share-icon-vkontakte  {
		background: url(../img/social-vk.jpg) no-repeat 0px 0px;
		width: 21px;
		height: 21px;
	}
	.yam-share-icon-twitter {
		background: url(../img/social-twitter.jpg) no-repeat 0px 0px;
		width: 21px;
		height: 21px;
	}	
	
	header .hotline {
		float: left;
		width: 179px;
		margin-top: 10px;
		color: #636363;
		font-size: 14px;
		max-height: 105px;
	}
	header .hotline .heading {
		color: #c70037;
		font-size: 24px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
	}
	header .phone {
		color: #424242;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		font-size: 30px;
		line-height: 30px;
	}
	header .hotline p {
		padding-left: 7px;
	}
	header .hotline hr {
		display: block;
		clear: both;
		margin: 0;
		padding: 0;
		border: 0;
		height: 1px;
		background: #ccc;
		margin: 5px 0px;
	}
	header .header-right {
		float: right;
		width: 372px;
		margin-top: 26px;
	}
	header .header-right a {
		font-size: 12px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;		
		color: #424242;
	}
	header .register-link {
		float: left;
		padding-left: 17px;
		background: transparent url(../img/icon-user.jpg) left 2px no-repeat;
	}
	header .login-link {
		float: left;
		padding-left: 17px;
		margin-left: 30px;
		background: transparent url(../img/icon-lock.jpg) left 2px no-repeat;		
	}
	header .basket {
		float: right;
		padding: 0;
		margin: 0;
		border: 0;
	}
	header .basket a {
		display: block;
		min-width: 9px;
		height: 29px;
		float: right;
	}
	header .basket .num {
		background: #c70038;
		color: #fff;
		text-align: center;
		line-height: 29px;
		margin-left: 1px;
		padding: 0px 10px;
	}
	header .basket .icon {
		background: #909090 url(../img/header-basket.jpg) 0px 0px no-repeat;
		min-width: 29px;
	}
	header .yam-search-form {
		clear: both;
		width: 370px;
		height: 22px;
		border: 1px #6b6b6b solid;
		margin-top: 17px;
	}
	header .yam-search-form form {
		display: block;
		height: 100%;
		width: 100%;
		position: relative;
	}
	header .yam-search-form input {
		margin: 0;
		padding: 0;
		border: 0;
	}
	header .yam-search-form input[type="submit"] {
		display: block;
		position: absolute;
		left: 10px;
		top: 0px;
		text-indent: -9999px;
		background: #fff url(../img/search.png) center center no-repeat;
		height: 22px;
		width: 22px;
	}
	header .yam-search-form input[type="text"] {
		display: block;
		position: absolute;
		left: 45px;
		top: 1px;
		height: 20px;
		line-height: 20px;
		width: 320px;
		color: #8e8e8e;
		font-size: 12px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;	
		outline: 0;
	}
	header .yam-search-form input::-webkit-input-placeholder { color: #8e8e8e; opacity: 1; font-size: 12px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; }
	header .yam-search-form input::-moz-placeholder { color: #8e8e8e; opacity: 1; font-size: 12px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; } /* firefox 19+ */
	header .yam-search-form input:-ms-input-placeholder { color: #8e8e8e; opacity: 1; font-size: 12px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; } /* ie */	
	
	.yam-menu-top:after {
		content: "";
		display: table;
		clear: both;
	}
	.slider-container {
		width: 940px;
		height: 403px;
		float: left;
	}
	ul.small-icons {
		list-style: none;
		display: block;
		margin-top: 20px;
	}
	ul.small-icons li {
		float: left;
		margin-right: 15px;
	}
	ul.small-icons:after {
		content: "";
		clear: both;
		float: left;
		width: 100%;
		overflow: hidden;
		visibility: hidden;
	}
	.slide-sidebar {
		width: 321px;
		float: left;
	}
	.slide-sidebar h1{
		font-family: 'CharterITCBlackRegular';
		font-size: 36px;
		color: #4c4c4c;
	}
	.slide-sidebar .name {
		font-family: 'CharterITCBlackRegular';
		font-size: 36px;	
		color: #c70038;
		float: left;
		line-height: 50px;
		margin: 7px 17px 0 0;
	}
	.slide-sidebar .circle {
		font-family: 'CharterITCBlackRegular';
		color: #fff;
		display: block;
		height: 68px;
		width: 68px;
		line-height: 68px;
		text-align: center;
		border-radius: 50%;
		background: #898989;
		font-size: 27px;
		float: left;
	}
	.bxslider > li > img {
		float: right;
	}
	.slide-text {
		font-size: 12px;
		color: #4c4c4c;
		clear: both;
		margin: 0 auto;
		padding-top: 55px;
		padding-bottom: 25px;
		width: 193px;
		border-bottom: 1px #c9c9c9 solid;
		max-height: 75px;
		overflow: hidden;
	}
	.banners-sidebar {
		width: 220px;
		float: left;
		margin-left: 20px;
	}
	.banners-sidebar .banner {
		width: 216px;
		height: 121px;
		background: #e9e9e9;
		margin-bottom: 19px;
		-webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.4);
		-moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.4);
		box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.4);
		font-size: 24px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		line-height: 24px;
		background-repeat: no-repeat;
		background-position: right bottom;
		position: relative;
		display: block;
		overflow: hidden;
	}
	.banners-sidebar .banner .price {
		width: 54px;
		height: 54px;
		background: #f47564;
		-webkit-border-radius: 27px;
		-moz-border-radius: 27px;
		border-radius: 27px;
		position: absolute;
		right: 0px;
		bottom: 0px;
		opacity: 0.85;
		color: #fff;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
	}
	.banners-sidebar .banner .price .number {
		font-size: 18px;
		line-height: 18px;
		margin-top: 14px;
	}
	.banners-sidebar .banner .green {
		color: #34495e;
		padding-left: 14px;
		padding-top: 7px;
	}
	.banners-sidebar .banner .red {
		color: #c70038;
		padding-left: 14px;
	}
	/* Rubricator styles */
	.slider-rubricator {
		width: 1263px;
		height: 144px;
		background: #0090cb;
	}
	.slider-rubricator .slider-main-container {
		width: 1144px;
		margin: 0 auto;
	}
	#rubricator_sub {
		padding-top: 15px;
		list-style: none;
		padding-bottom: 36px;
		display: none;
	}
	#rubricator_sub li {
		padding-bottom: 36px;
		display: none;
	}
	#rubricator_sub .sub-col {
		width: 170px;
		float: left;
		padding-right: 50px;
	}
	#rubricator_sub .sub-col a {
		padding-left: 10px;
		display: block;
		font-size: 12px;
		float: none;
		color: #000;
		height: 20px;
		line-height: 20px;
	}
	#rubricator_sub .sub-col a:hover {
		background: #0090cb;
		color: #fff;
	}
	#rubricator {
		list-style: none;
	}
	#rubricator > li {
		float: left;
		height: 180px;
		width: 88px;
		display: block;
		text-align: center;
		cursor: pointer;
	}
	#rubricator> li > .image {
		display: block;
		height: 88px;
		width: 88px;
		margin-top: 10px;
	}
	#rubricator > li > .image > span {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	#rubricator > li > .image > img {
		display: inline;
		vertical-align: middle;
	}
	#rubricator > li > span {
		font-size: 10px;
		line-height: 12px;
		text-transform: uppercase;
		color: #fff;
		display: block;
	}
	#rubricator > li > .submenu {
		display: none;
	}
	#rubricator > li:hover,
	#rubricator > li.active {
		background: #c70038 url(../img/rubricator-highlight.jpg) no-repeat bottom center;
	}
	/* 4 Columns area styles */
	.columns {
		padding-bottom: 120px;
	}
	.columns > ul {
		display: block;
		width: 100%;
		height: 98px;
		list-style: none;
	}
	.columns > ul > li {
		margin-right: 29px;
		float: left;
	}
	.columns > ul > li:last-child {
		margin-right: 0px;
	}	
	.columns .tab {
		display: block;
		width: 273px;
		height: 98px;
		line-height: 98px;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		cursor: pointer;
	}
	.columns .tab.red {
		background-color: #c70038;
	}
	.columns .tab.blue {
		background-color: #89c6f0;
	}
	.columns .tab.orange {
		background-color: #fdc188;
	}
	.columns .tab.green {
		background-color: #3cb878;
	}
	.columns .tab.yellow {
		background-color: #dec344;
	}
	.columns .tab.pink {
		background-color: #d56e89;
	}
	.columns .tab.darkgreen {
		background-color: #26a192;
	}
	
	.columns .tab.active:after,
	.columns .tab:hover:after	{
		content: "";
		position: absolute;		
		width: 0px;
		height: 4px;
		left: 135px;
		top: 98px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid;	
	}
	.columns .tab.active.red:after,
	.columns .tab.red:hover:after	{
		border-top-color: #c70038;
	}
	.columns .tab.active.blue:after,
	.columns .tab.blue:hover:after	{
		border-top-color: #89c6f0;
	}
	.columns .tab.active.orange:after,
	.columns .tab.orange:hover:after {
		border-top-color: #fdc188;
	}	
	.columns .tab.active.green:after,
	.columns .tab.green:hover:after	{
		border-top-color: #3cb878;
	}
	.columns .tab.active.yellow:after,
	.columns .tab.yellow:hover:after	{
		border-top-color: #dec344;
	}
	.columns .tab.active.pink:after,
	.columns .tab.pink:hover:after	{
		border-top-color: #d56e89;
	}
	.columns .tab.active.darkgreen:after,
	.columns .tab.darkgreen:hover:after	{
		border-top-color: #26a192;
	}	
	.columns .inner-content {
		padding: 78px 29px 0 49px;
		width: 224px;
		float: left;
	}
	.columns .inner-content:last-child {
		padding-right: 0;
	}
	.columns .tabs-content > li {
		/*display: none;*/
		width: 100%;
		height:0;
		overflow:hidden;
	}
	.columns .tabs-content > li.active {
		/*display: block;*/
		height:auto;
		margin-bottom: 50px;
	}
	
	.columns .inner-content .heading {
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
		font-size: 15px;
		color: #434343;
		padding-bottom: 10px;
		display: block;
	}
	.columns .inner-content .heading:hover {
		color: #0090cb;
	}
	.columns .inner-content .date {
		color: #969595;
		font-size: 11px;
		padding-bottom: 15px;
	}
	.columns .inner-content .text {
		color: #595858;
		font-size: 14px;
		font-family: 'PT Sans Narrow', sans-serif;
	}
	
	/* Footer styles */
	footer {
		height: 192px;
	}
	footer .content-wrapper-full{
		height: 100%;
		background: #efefef;
		position: relative;
	}
	footer .copyright {
		font-size: 10px;
		text-align: center;
	}
	footer .copyright img {
		margin: 0 auto;
	}
	footer ul {
		list-style: none;
		display: block;
		clear: both;
		padding-top: 33px;
		padding-bottom: 55px;
		height: 37px;
		float: left;
	}
	footer ul li {
		float: left;
		margin: 0px 15px;
	}
	footer ul li a {
		color: #606060;
		text-transform: uppercase;
		font-size: 12px;
		display: block;
		height: 37px;
		line-height: 37px;
		padding: 0px 20px;
		transition:all 0.2s linear;
		background: #efefef;
	}
	footer ul li.active a,
	footer ul li:hover a,
	footer ul li a:hover {
		color: #fff;
		background: #c70038;
	}	
	footer .yam-counters-area { position: absolute; left: 42px; top: 140px;}
	footer .yam-counters-area a img { display: inline; }
	footer .yamasters { position: absolute; width:500px; font-size: 11px; top: 95px; right: 42px;}
	footer .yamasters .text { float: right; color: #735e49; margin-top: 38px; }
	footer .yamasters a { float: right; margin-right: 18px; margin-top: 48px;}	